// 			var html = new EJS({url: 'cards.ejs'}).render(res);
// 			$("#spiner").after(html);
			// pokemonCard += "<div class=\"mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone\">";
			// pokemonCard += "<div class=\"mdl-card mdl-shadow--4dp\"><div class=\"mdl-card__media \">";
			// pokemonCard += "<img src=\"http:\/\/pokeapi.co/media/img/"+ res.objects[i].pkdx_id + ".png\"" +  "> </div>";
			// pokemonCard += "<div class=\"mdl-card__subtitle-text\"><h2 class=\"name\">" + res.objects[i].name + "</h2></div> <div class=\"mdl-card__actions mdl-card--border\">" + types + "</div></div></div>";
// 			console.log("Pokemon #" + (i+1) + "; name: " + res.objects[i].name + "; id: " + res.objects[i].pkdx_id + "; types: " + types + "; image: http://pokeapi.co/media/img/" + i + ".png");
// 		