.mdl-layout__header-row{
	padding: 0 40px;
}

.mdl-layout-title{
	margin: 0 auto;
	font-weight: bold;
}

.mdl-card{
	width: 100%;
	cursor: pointer;
}

.name{
	font-size: 24px;
	text-align: center;
}

.mdl-card__media img{
	width: 100%;
}

.mdl-data-table{
	width: 100%;
}

td{
	text-align: center !important;
	height: 10px !important;
	min-height: 0 !important;
	line-height: normal;
}

tr{
	height: 10px !important;
	min-height: 0 !important;
}

.type{
	min-width: 0;
	margin: 3px;
	color: rgba(0,0,0,.6) !important;
}
.type:hover{
	background: inherit;
}

.fire{
	background: #EF5350;
}

.poison{
	background: #AB47BC;
}

.electric{
	background: #FFEE58;
}

.selected{
	position: fixed;
}

#pokemons{
	width: 100%;
	padding: 0;
}